<!DOCTYPE html>

<html>

<head>
    <title>Send me the Data</title>
    <meta charset="utf-8">
    <link href="/static/style.css" rel="stylesheet" />
</head>

<body>
    {{ if .SuccessFlash }}
    <div class="success_flash">
        Link created successfully
    </div>
    {{ end }}

    {{ if .ErrorFlash }}
    <div class="error_flash">
        Failed to create link
    </div>
    {{ end }}

    <h2>Create new link</h2>

    <div>
        <form action="/link" method="post">
            <div>
                <label for="name">New link name: </label>
                <input type="text" name="name" id="name" required />
            </div>
            <div>
                <input type="submit" value="Create link" />
            </div>
        </form>
    </div>

    <h2>List of links</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Total files</th>
                    <th>Total size</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Links }}
                <tr>
                    <td><a href="{{ .ViewLink }}">{{ .Name }}</a></td>
                    <td>{{ .CreatedAt }}</td>
                    <td>{{ .TotalFiles }}</td>
                    <td>{{ .TotalSize }}</td>
                    <td>
                        <form action="{{ .DeleteLink }}" method="post">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>

</html>