<!DOCTYPE html>

<html>

{{ template "head.gohtml" . }}

<body>
    <h1><a href="/">Send me the Data</a></h1>

    {{ template "flash.gohtml" . }}

    {{ with .Data.Link }}
    <h2>{{ .Name }}</h2>

    <p>
        Created at <span class="timestamp">{{ .CreatedAt }}</span><br />
        Files: {{ .TotalFiles }} (total size: {{ .TotalSize }})
    </p>

    <div>
        <form action="{{ .EditLink }}" method="post">
            <div>
                <label for="link_name">Link name:</label>
                <input type="text" name="name" id="link_name" value="{{ .Name }}" required maxlength="255" />
            </div>
            <div>
                <input type="checkbox" name="user_downloadable" id="user_downloadable"
                    {{ if .UserDownloadable }}
                        checked
                    {{ end }}
                />
                <label for="user_downloadable">Users can download files</label>
            </div>
            <div>
                <input type="checkbox" name="upload_enabled" id="upload_enabled"
                    {{ if .UploadEnabled }}
                        checked
                    {{ end }}
                />
                <label for="upload_enabled">Users can upload files</label>
            </div>
            {{ template "file_size_picker.gohtml" .MaxFileSizeBytes }}
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
        <form action="{{ .ViewLink }}" method="get">
            <input type="submit" value="Reset">
        </form>
        <form action="{{ .DeleteLink }}" method="post">
            <input type="submit" value="Delete" />
        </form>
    </div>
    <script src="/static/logarithmic_file_size_picker.js"></script>
    {{ end }}

    <h2>List of files</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uploaded at</th>
                    <th>Size</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Files }}
                <tr>
                    <td><a href="{{ .AdminDownloadLink }}">{{ .Name }}</a></td>
                    <td><span class="timestamp">{{ .UploadedAt }}</span></td>
                    <td>{{ .Size }}</td>
                    <td>
                        <form action="{{ .DeleteLink }}" method="post">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    {{ template "pagination.gohtml" .Data.Pages }}

    <script src="/static/format_timestamps.js"></script>
</body>

</html>