<!DOCTYPE html>

<html>

{{ template "head.gohtml" . }}

<body>
    <h1><a href="/">Send me the Data</a></h1>

    {{ template "flash.gohtml" . }}

    {{ with .Data.Link }}
    <h2>Link: {{ .Name }}</h2>

    <!--TODO: maybe I don't need a separate edit page and can just put edit form here-->
    <p>
        Created at <span class="timestamp">{{ .CreatedAt }}</span><br />
        Uploaded files: {{ .TotalFiles }} ({{ .TotalSize }} total)<br />
        Maximum file size: {{ .MaxFileSize }}<br />
        Users can download files: {{ if .UserDownloadable }}yes{{ else }}no{{ end }}
    </p>

    <div>
        <form action="{{ .EditLink }}" method="get">
            <input type="submit" value="Edit" />
        </form>
        <form action="{{ .DeleteLink }}" method="post">
            <input type="submit" value="Delete" />
        </form>
    </div>
    {{ end }}

    <h2>List of files</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uploaded at</th>
                    <th>Size</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Files }}
                <tr>
                    <td><a href="{{ .DownloadLink }}">{{ .Name }}</a></td>
                    <td><span class="timestamp">{{ .UploadedAt }}</span></td>
                    <td>{{ .Size }}</td>
                    <td>
                        <form action="{{ .DeleteLink }}" method="post">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <script src="/static/format_timestamps.js"></script>
</body>

</html>