<!DOCTYPE html>

<html>

{{ template "head.gohtml" . }}

<body>
    <h1><a href="/">Send me the Data</a></h1>

    {{ template "flash.gohtml" . }}

    <h2>Create new link</h2>

    <div>
        <form action="/link" method="post">
            <div>
                <label for="link_name">New link name: </label>
                <input type="text" name="name" id="link_name" required maxlength="255" />
            </div>
            <div>
                <input type="checkbox" name="user_downloadable" id="user_downloadable" />
                <label for="user_downloadable">Users can download files</label>
            </div>
            <div>
                <input type="checkbox" name="upload_enabled" id="upload_enabled" checked />
                <label for="upload_enabled">Users can upload files</label>
            </div>
            {{ template "file_size_picker.gohtml" "4294967296" }}
            <div>
                <input type="submit" value="Create link" />
            </div>
        </form>
    </div>
    <script src="/static/logarithmic_file_size_picker.js"></script>

    <h2>List of links</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Files</th>
                    <th>Total size</th>
                    <th>
                        <div>
                            <p>File size limit</p>
                            <img src="/static/help.svg" title="Maximum size of an individual file">
                        </div>
                    </th>
                    <th>
                        <div>
                            <p>Downloadable</p>
                            <img src="/static/help.svg" title="Users can also download files from this link">
                        </div>
                    </th>
                    <th>
                        <div>
                            <p>Upload</p>
                            <img src="/static/help.svg" title="Users can upload files to this link">
                        </div>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Links }}
                <tr>
                    <td><a href="{{ .ViewLink }}">{{ .Name }}</a></td>
                    <td><span class="timestamp">{{ .CreatedAt }}</span></td>
                    <td>{{ .TotalFiles }}</td>
                    <td>{{ .TotalSize }}</td>
                    <td>{{ .MaxFileSize }}</td>
                    <td>{{ if .UserDownloadable }}yes{{ else }}no{{ end }}</td>
                    <td>{{ if .UploadEnabled }}yes{{ else }}no{{ end }}</td>
                    <td>
                        <form action="{{ .DownloadZIP }}" method="get">
                            <input type="submit" value="ZIP" />
                        </form>
                        <form action="{{ .DownloadZIP }}" method="get">
                            <input type="submit" value="Uncompressed ZIP" />
                            <input type="hidden" name="method" value="store" />
                        </form>
                        <form action="{{ .EditLink }}" method="get">
                            <input type="submit" value="Edit" />
                        </form>
                        <form action="{{ .DeleteLink }}" method="post">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <script src="/static/format_timestamps.js"></script>
</body>

</html>