<!DOCTYPE html>

<html>

{{ template "head.gohtml" . }}

<body>
    <h1><a href="/">Send me the Data</a></h1>

    {{ template "flash.gohtml" . }}

    <h2>Create new link</h2>

    <div>
        <form action="/link" method="post">
            <div>
                <label for="link_name">New link name: </label>
                <input type="text" name="name" id="link_name" required maxlength="255" />
            </div>
            <div>
                <input type="checkbox" name="user_downloadable" id="user_downloadable" />
                <label for="user_downloadable">Users can download files</label>
            </div>
            {{ template "file_size_picker.gohtml" "4294967296" }}
            <div>
                <input type="submit" value="Create link" />
            </div>
        </form>
    </div>
    <script src="/static/logarithmic_file_size_picker.js"></script>

    <h2>List of links</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Total files</th>
                    <th>Total size</th>
                    <th>Maximum file size</th>
                    <th>Actions</th>
                    <!--TODO: admin should be able to see whether users can download files from each link-->
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Links }}
                <tr>
                    <td><a href="{{ .ViewLink }}">{{ .Name }}</a></td>
                    <td>{{ .CreatedAt }}</td>
                    <td>{{ .TotalFiles }}</td>
                    <td>{{ .TotalSize }}</td>
                    <td>{{ .MaxFileSize }}</td>
                    <td>
                        <form action="{{ .EditLink }}" method="get">
                            <input type="submit" value="Edit" />
                        </form>
                        <form action="{{ .DeleteLink }}" method="post">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>

</html>