<!DOCTYPE html>

<html>

{{ template "head.gohtml" . }}

<body>
    <h1>Send me the Data</h1>

    {{ template "flash.gohtml" . }}

    <h2>Upload file</h2>

    <div>
        <form enctype="multipart/form-data" action="" method="post">
            <div>
                <label for="file">Select file to upload: </label>
                <input type="file" name="file" id="file" required />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>

    <h2>List of files</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uploaded at</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Files }}
                <tr>
                    <td>
                        {{ if .DownloadLink }}
                        <a href="{{ .DownloadLink }}">{{ .Name }}</a>
                        {{ else }}
                        {{ .Name }}
                        {{ end }}
                    </td>
                    <td>{{ .UploadedAt }}</td>
                    <td>{{ .Size }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>

</html>