<!DOCTYPE html>

<html>

{{ template "head.gohtml" . }}

<body>
    <h1>Send me the Data</h1>

    {{ template "flash.gohtml" . }}

    <h2>Upload file</h2>

    <div>
        <form enctype="multipart/form-data" action="" method="post">
            <div>
                <label for="file">Select file to upload (size limit {{ .Data.Link.MaxFileSize }}): </label>
                <input type="file" name="file" id="file" data-maxsize="{{ .Data.Link.MaxFileSizeBytes }}" required />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
    <script src="/static/file_size_validation.js"></script>

    <h2>List of files</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uploaded at</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Files }}
                <tr>
                    <td>
                        {{ if .UserDownloadLink }}
                        <a href="{{ .UserDownloadLink }}">{{ .Name }}</a>
                        {{ else }}
                        {{ .Name }}
                        {{ end }}
                    </td>
                    <td><span class="timestamp">{{ .UploadedAt }}</span></td>
                    <td>{{ .Size }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <script src="/static/format_timestamps.js"></script>
</body>

</html>