<div class="file_size_picker">
    <label for="file_size_picker">Maximum file size: </label>
    <input type="range" id="file_size_picker" min="0" max="0" step="1">
    <label for="file_size_picker" id="file_size_label"></label>
    <input type="hidden" id="file_size_value" name="max_file_size" autocomplete="off" value="{{ . }}">
</div>
