<!DOCTYPE html>

<html>

{{ template "head.gohtml" . }}

<body>
    {{ template "flash.gohtml" . }}

    <h2>Create new link</h2>

    <div>
        <form action="/link" method="post">
            <div>
                <label for="link_name">New link name: </label>
                <input type="text" name="name" id="link_name" required />
            </div>
            <div>
                <input type="checkbox" name="user_downloadable" id="link_user_downloadable" />
                <label for="link_user_downloadable">Users can download files</label>
            </div>
            <div>
                <input type="submit" value="Create link" />
            </div>
        </form>
    </div>

    <h2>List of links</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Total files</th>
                    <th>Total size</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Links }}
                <tr>
                    <td><a href="{{ .ViewLink }}">{{ .Name }}</a></td>
                    <td>{{ .CreatedAt }}</td>
                    <td>{{ .TotalFiles }}</td>
                    <td>{{ .TotalSize }}</td>
                    <td>
                        <form action="{{ .DeleteLink }}" method="post">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>

</html>