<!DOCTYPE html>

<html>

<head>
    <title>Send me the Data</title>
    <meta charset="utf-8">
    <link href="/static/style.css" rel="stylesheet" />
</head>

<body>
    {{ if .SuccessFlash }}
    <div class="success_flash">
        {{ .SuccessFlash }}
    </div>
    {{ end }}

    {{ if .ErrorFlash }}
    <div class="error_flash">
        {{ .ErrorFlash }}
    </div>
    {{ end }}

    <h2>List of files</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uploaded at</th>
                    <th>Size</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Files }}
                <tr>
                    <td><a href="{{ .DownloadLink }}">{{ .Name }}</a></td>
                    <td>{{ .UploadedAt }}</td>
                    <td>{{ .Size }}</td>
                    <td>
                        <form action="{{ .DeleteLink }}" method="post">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>

</html>